.container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 10px;
    column-gap: 10px;
    align-items: center;
  }
  
  .currencySelect {
    height: 50px;
    width: 200px;
    background-color: #e9c469;
    color: black;
    font-weight: bold;
    border-radius: 5px;
  }